<!DOCTYPE html>
<html>
    <% include ../partials/header %>
    <body>
        <div class = "wrapper">
            <div id="welcome-message-container">
                <p class="welcome-message">Welcome to our shift scheduling service.</p>
                <p class="welcome-message-sub"> A timely solution </p>
            </div>
        </div>
    </body>
    <% include ../partials/footer %>
</html>